xterm*faceName: xft: Droid Sans Mono
xterm*faceSize: 14

xterm*savelines: 2000

xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

XTerm*vt100.translations: #override \
    Shift Ctrl <Key> C: copy-selection(CLIPBOARD) \n\
    Shift Ctrl <Key> V: insert-selection(CLIPBOARD)

xterm*foreground: white
xterm*background: #0a0a0a


! Black
xterm*color0:           #000000
xterm*color8:           #666666
! Red
xterm*color1:           #c74630
xterm*color9:           #c74630
! Green
xterm*color2:           #41bc33
xterm*color10:          #50e340
! Yellow
xterm*color3:           #b4b32b
xterm*color11:          #b4b32b
! Bluej
xterm*color4:           #9274ff
xterm*color12:          #9274ff
! Purple
xterm*color5:           #DE45DB
xterm*color13:          #DE45DB
! Cyan
xterm*color6:           #3CC0CD
xterm*color14:          #3CC0CD
! White
xterm*color7:           #F4F4F4
xterm*color15:          #F2F2F2



xterm*rightScrollBar: false
xterm*ScrollBar: flase

xterm*scrollTtyOutput: true

Xterm*selectToClipboard: true


Xft.antialias: true

XTerm.vt100.translations: #override \n\
  Ctrl <Key> minus: smaller-vt-font() \n\
  Ctrl <Key> plus: larger-vt-font() \n\
  Shift Ctrl <Key> C: copy-selection(CLIPBOARD) \n\
  Shift Ctrl <Key> V: insert-selection(CLIPBOARD)
